.user-dashboard-container {
    background: linear-gradient(248.14deg, rgba(255, 255, 255, 0.4) 1.48%, rgba(147, 184, 193, 0.4) 121.81%);
    /* padding: 20px; */
    padding-top: 35px;
    padding-bottom: 15px;
}

.form-container input,
.form-container textarea,
.form-container select {
    background: #ECF0F1;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select {
    background: #ECF0F1;
}

.filepond--credits {
    display: none;
}

.img-input-field {
    border: 1px dashed black;
    padding: 100px 0;
    /* height: 200px; */
    text-align: center;
    border-radius: 5px;
    background: #ECF0F1;
}

/* 
.react-tabs__tab--selected {
    margin-top: none;
    margin-bottom: 1px solid red  !important;
} */

.blog-card {
    color: #2C3E50 !important;
}

.user-dashboard-font {
    color: #2C3E50;
}

.filepond--drop-label {
    padding-top: 60px !important;
    font-weight: 700;
    background: #ECF0F1;
    height: 100px;

}

.cke_wysiwyg_frame {
    background: #ECF0F1;
}

.main-btn {
    background: #3498db;
    border: 1px solid #3498db;
    cursor: pointer;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 10px 35px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.2s all ease;
}

.main-btn:hover {
    background: #ffffff;
    border: 1px solid #3498db;
    color: #3498db;
}


/* Project  */

.project-search-container {
    color: #2C3E50;
    border: 1px solid #2C3E50;
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.project-search {
    border: none;
    outline: none;
    margin-left: 3px;
}

.project-table-container {
    width: 100%;
    /* overflow: hidden; */
    overflow-y: hidden;
    overflow-x: auto;

}

.project-table {
    width: 100%;
    color: #2C3E50;
    margin: 10px 0;
}

/* .project-table t{
    width: 100%;
} */

.ash-bg {
    background: #ECF0F1;
}

.pagination-btn {
    background: white;
    color: #193441;
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #2C3E50;
}

.active-btn,
.pagination-btn:hover {
    background: #3498db;
    color: #ffffff;
    border: none;
}

.project-action-btn {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
    color: white;
}

.project-view-btn {
    background: #00A388;
}

.project-edit-btn {
    background: #0068A3;
}

.project-delete-btn {
    background: #FF0000;

}

.blue-clr{
    color: #3498db;
}
.headline-text{
    color: #2C3E50;
}
/* Get Arrow Icon For select in Botstrap */
select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;

}
#cke_1_bottom {
    display: none;
}
#cke_1_contents{
    background: #ECF0F1;
}

.logout-btn{
    cursor: pointer;
   color: #3498db;

}

.file-downloda-btn{
    color: #3498db;
    cursor: pointer;
}


@media screen and (max-width:465px) {
    .project-search-container {
        width: 100%;
    }
}

