button ._4qzafi0{
    background: red !important;
}

.word-counter-textarea{
    background: #ECF0F1;
}
.word-counter-textarea:focus{
    background: #ECF0F1;
}
.settings-container-wordcounter{
    background: #3498db;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.bg-item{
    background: #3498db; 
}
.gramarly-container{
    min-height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
}
.word-Counter-result{
    background: #ECF0F1;
    height: 70px;
    margin-top: 20px;
    color: #2C3E50;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}
.count-details-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #2C3E50; */

}
.details-container{
    background: #ECF0F1;
    padding: 5px 15px;
    border-radius: 5px;
}